<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Update User</title>
</head>
<body>
    <div>
        <form action="/update-user" method="post">
            <div class="update-user">
                <label>First name:</label>
                <input name="firstName" value="<%= dataUser.firstName %>">
            </div>
            <div class="update-user">
                <label>Last name:</label>
                <input name="lastName" value="<%= dataUser.lastName %>">
            </div> 
            <div class="update-user">
                <label>Email:</label>
                <input name="email" value="<%= dataUser.email %>">
            </div> 
            <div class="update-user">
                <label>Address:</label>
                <input name="address" value="<%= dataUser.address %>">
                <input type="text" name="id" hidden value="<%= dataUser.id %>" >
            </div>
            <div class="update-user">
                ,<button class="btn-save" type="submit">Save</button>
            </div>
        </form>
    </div>
</body>
</html>